<div class="widget-title k-block">kendo.ui.ExtAlertDialog <i>extends</i> <a href="#/dialog">kendo.ui.ExtDialog</a></div>
<div class="widget-subtitle">Introduced in 2013 Q1</div>
<div class="section-title">Description</div>
<div class="section">
    The ExtAlertDialog widget displays an Alert dialog.
</div>

<div class="section-title">Example</div>
<div class="section">
    <div id="selectIconContainer" style="display:block;margin-bottom:20px;">
        <span>Icon: </span>
        <select id="selectIcon">
            <option value="k-ext-information">Information</option>
            <option value="k-ext-question">Question</option>
            <option value="k-ext-warning">Warning</option>
            <option value="k-ext-error">Error</option>
        </select>
    </div>
    <button id="showAlertDialogButton" class="k-button">Show Alert Dialog</button>

    <div id="userResponse" class="highlight-section k-block" style="margin-top:20px;">
    </div>
</div>

<div class="section-title">Configuration</div>
<div class="section">
    <div><span class="property-title">message</span> <span class="property-type">: String</span></div>
    <div class="property-section">
        Message to be displayed to the user.
    </div>

    <div><span class="property-title">icon</span> <span class="property-type">: String</span></div>
    <div class="property-section">
        The CSS Class of the image to be displayed.  Images provided are:
        <ul>
            <li>Information: k-ext-information</li>
            <li>Question: k-ext-question</li>
            <li>Warning: k-ext-warning</li>
            <li>Error: k-ext-error</li>
        </ul>
    </div>
</div>

<div class="section-title">Methods</div>
<div class="section">
    <div><span class="property-title">show</span></div>
    <div class="property-section">
        Show the alert dialog.
    </div>
    <div><span class="subsection-title">Parameters</span></div>
    <div class="property-section">
        <div><span class="parameter-title">options</span> <span class="parameter-type">: JSON Object</span></div>
        <div class="property-section">
            Configuration options used to display the alert dialog.
        </div>
    </div>
    <div><span class="subsection-title">Return</span></div>
    <div>
        <div><span class="parameter-type">jQuery.Deferred Object</span></div>
        <div class="property-section">
            jQuery Deferred object. When the Deferred object is resolved, any done callbacks are executed when the user clicks on the OK button.
        </div>
    </div>

    <div><span class="property-title">hide</span></div>
    <div class="property-section">
        Hide the alert dialog.
    </div>
</div>
