<div class="widget-title k-block">kendo.ui.ExtDropDownTreeView <i>extends</i> <a href="http://docs.kendoui.com/api/framework/widget">kendo.ui.Widget <div class="external-link-image"></div></a></div>
<div class="widget-subtitle">Introduced in 2013 Q1</div>
<div class="section-title">Description</div>
<div class="section">
    The ExtDropDownTreeView widget displays a Kendo DropDownList that shows a Kendo TreeView instead of a list when clicked.
</div>

<div class="section-title">Example</div>
<div class="section">
    <div id="dropDownTreeView">
    </div>

    <div id="userSelection" style="margin-top:20px;" class="highlight-section k-block">
    </div>
</div>

<div class="section-title">Configuration</div>
<div class="section">
    <div><span class="property-title">treeview</span> <span class="property-type">: <a href="http://docs.kendoui.com/api/web/treeview">kendo.ui.TreeView <div class="external-link-image"></div></a></span></div>
    <div class="property-section">
        The configuration settings for the Kendo Grid.
    </div>
</div>

<div class="section-title">Methods</div>
<div class="section">
    <div><span class="property-title">dropDownList</span></div>
    <div class="property-section">
        Returns a reference to the Kendo DropDownList.
    </div>

    <div><span class="property-title">treeview</span></div>
    <div class="property-section">
        Returns a reference to the Kendo TreeView.
    </div>
</div>

<div class="section-title">Events</div>
<div class="section">
    <div><span class="property-title">select</span></div>
    <div class="property-section">
        Triggered when a node is being selected by the user.
    </div>
</div>
