<div class="widget-title k-block">kendo.ui.ExtEditor <i>extends</i> <a href="http://docs.kendoui.com/api/framework/editor">kendo.ui.Editor <div class="external-link-image"></div></a></div>
<div class="widget-subtitle">Introduced in 2013 Q1</div>

<div class="section-title">Example</div>
<div class="section">
    <textarea id="editor" rows="10" cols="30" style="width:600px; height:300px;">
    </textarea>
</div>

<script type="text/x-kendo-template" id="editorTemplate">
    <div id='editor-table-dialog'>
        <div style='height:50px;'>
            <div style='display:inline-block;width:75px;'>Rows:</div><div style='display:inline-block;'><input id='editor-table-dialog-rows'></input></div>
        </div>
        <div style='height:50px;'>
            <div style='display:inline-block;width:75px;'>Columns:</div><div style='display:inline-block;'><input id='editor-table-dialog-cols'></input></div>
        </div>
        <div>
            <input id='editor-table-dialog-width' type='checkbox' /><span>100% Width</span>
        </div>
    </div>
</script>