<div class="widget-title k-block">kendo.ui.ExtEditor <i>extends</i> <a href="http://docs.kendoui.com/api/framework/editor">kendo.ui.Editor <div class="external-link-image"></div></a></div>
<div class="widget-subtitle">Introduced in 2013 Q1</div>

<div class="section-title" style="color:red;">WORK IN PROGRESS</div>

<div class="section-title">Description</div>
Click the <div class="k-tool-icon k-ext-table" style="display: inline-block; height: 16px !important; width: 16px !important;"></div> button in the Editor toolbar to display the table dialog.
<div class="section">
</div>

<div class="section-title">Example</div>
<div class="section">
    <textarea id="editor" rows="10" cols="30" style="width:600px; height:300px;">
    </textarea>
</div>