<div class="navigation-link"><span class="k-icon k-minus"></span><a href="http://docs.kendoui.com/api/framework/widget">Widget <div class="external-link-image"></div></a></div>
<div class="section">
    <div class="navigation-link"><a href="#/borderLayout">ExtBorderLayout</a></div>
    <br />

    <div class="navigation-link"><span class="k-icon k-minus"></span><a href="http://docs.kendoui.com/api/web/window">Window <div class="external-link-image"></div></a></div>
    <div class="section">
        <div class="navigation-link"><span class="k-icon k-minus"></span><a href="#/dialog">ExtDialog</a></div>
        <div class="section">
            <div class="navigation-link"><a href="#/alertDialog">ExtAlertDialog</a><br /></div>
            <br />
            <div class="navigation-link"><a href="#/inputDialog">ExtInputDialog</a><br /></div>
            <br />
            <div class="navigation-link"><a href="#/comingSoon">ExtMultiLineInputDialog</a><br /></div>
            <br />
            <div class="navigation-link"><a href="#/okCancelDialog">ExtOkCancelDialog</a><br /></div>
            <br />
            <div class="navigation-link"><a href="#/yesNoDialog">ExtYesNoDialog</a><br /></div>
        </div>
        <div class="navigation-link"><a href="#/waitDialog">ExtWaitDialog</a><br /></div>
    </div>

    <div class="navigation-link"><a href="#/dropDownGrid">ExtDropDownGrid</a></div>
    <br />

    <div class="navigation-link"><a href="#/dropDownTreeView">ExtDropDownTreeView</a></div>
    <br />

    <div class="navigation-link"><a href="#/textBox">ExtTextBox</a></div>
    <br />

    <div class="navigation-link"><span class="k-icon k-minus"></span><a href="http://docs.kendoui.com/api/web/menu">Menu <div class="external-link-image"></div></a></div>
    <div class="section">
        <div class="navigation-link"><a href="#/contextMenu">ExtContextMenu</a></div>
    </div>

    <div class="navigation-link"><span class="k-icon k-minus"></span><a href="http://docs.kendoui.com/api/web/editor">Editor <div class="external-link-image"></div></a></div>
    <div class="section">
        <div class="navigation-link"><a href="#/editor">ExtEditor</a></div>
    </div>
</div>
