<div class="widget-title k-block">kendo.ui.ExtTextBox <i>extends</i> <a href="http://docs.kendoui.com/api/framework/widget">kendo.ui.Widget <div class="external-link-image"></div></a></div>
<div class="widget-subtitle">Introduced in 2013 Q1</div>
<div class="section-title">Description</div>
<div class="section">
    The ExtTextBox widget displays a TextBox that applies the Kendo styles and supports a placeholder that works with HTML5 and non HTML 5 browsers.
</div>

<div class="section-title">Example</div>
<div class="section">
    <style type="text/css">
        .lastname-placeholder {
            font-style: italic;
            color: orange !important;
        }
        .lastname-textbox {
            width: 400px;
        }
        .lastname-input {
            font-weight: bold;
        }
    </style>

    <input id="firstname" /><br />
    <br />
    <input id="lastname" class="lastname-input" />
</div>

<div class="section-title">Configuration</div>
<div class="section">
    <div><span class="property-title">placeholder</span> <span class="property-type">: String</span></div>
    <div class="property-section">
        The watermark that is displayed when the input element is empty.
    </div>

    <div><span class="property-title">placeholderClass</span> <span class="property-type">: String</span></div>
    <div class="property-section">
        The title to be displayed in the titlebar.
    </div>

    <div><span class="property-title">textboxClass</span> <span class="property-type">: String</span></div>
    <div class="property-section">
        The css class to be applied to the parent div of the input element.
    </div>

    <div><span class="property-title">width</span> <span class="property-type">: String</span></div>
    <div class="property-section">
        The width for the TextBox widget.
    </div>
</div>
