<div class="widget-title k-block">kendo.ui.ExtWaitDialog <i>extends</i> <a href="http://docs.kendoui.com/api/framework/window">kendo.ui.Window <div class="external-link-image"></div></a></div>
<div class="widget-subtitle">Introduced in 2013 Q1</div>
<div class="section">
    The ExtWaitDialog widget displays an wait dialog.
</div>

<div class="section-title">Example</div>
<div class="section">
    <button id="showWaitDialogButton" class="k-button">Show Wait Dialog for 5 seconds</button>

    <div id="userResponse" style="margin-top:20px;">
    </div>
</div>

<div class="section-title">Configuration</div>
<div class="section">
    <div><span class="property-title">message</span> <span class="property-type">: String</span></div>
    <div class="property-section">
        Message to be displayed to the user.
    </div>
</div>

<div class="section-title">Methods</div>
<div class="section">
    <div><span class="property-title">show</span></div>
    <div class="property-section">
        Show the wait dialog.
    </div>
    <div><span class="subsection-title">Parameters</span></div>
    <div class="property-section">
        <div><span class="parameter-title">options</span> <span class="parameter-type">: JSON Object</span></div>
        <div class="property-section">
            Configuration options used to display the wait dialog.
        </div>
    </div>
    <div><span class="subsection-title">Return</span></div>
    <div>
        <div><span class="parameter-type">jQuery.Deferred Object</span></div>
        <div class="property-section">
            The jQuery Deferred object is resolved when the wait dialog
            has finished initializing.
        </div>
    </div>

    <div><span class="property-title">hide</span></div>
    <div class="property-section">
        Hide the wait dialog.
    </div>
</div>
